{% load static %}
<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="{% static 'material/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'material/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'material/sequence-browsing/sequence-style.css' %}">

    <script src="{% static 'material/js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'material/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'material/sequence-browsing/libs/babel-core/browser.min.js' %}"></script>
    <script src="{% static 'material/sequence-browsing/libs/react/react.js' %}"></script>
    <script src="{% static 'material/sequence-browsing/libs/react/react-dom.js' %}"></script>
    <script src="{% static 'material/sequence-browsing/libs/jquery/jquery.blockUI.js' %}"></script>
    <script src="{% static 'material/sequence-browsing/variation-sequence_front.js' %}"></script>


</head>

<body>
        <div class="jumbotron text-center">
            <h2>{{ header_title }}</h2>
        </div>

            <div class="content">
                <div class="c-menu" data-spy="affix" data-offset-top="182">
                    <ul>
                        {% for val in menu %}
                            <li><a href="{{ val.url }}">{{ val.name }}</a></li>
                        {% endfor %}
                    </ul>

                </div>
                <div class="c-body">
                    {{ widget_html | safe }}
                </div>

            </div>
</body>

</html>
