{% load static %}
<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="{% static 'material/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'material/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'material/sequence-browsing/sequence-style.css' %}">

    <script src="{% static 'material/js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'material/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'material/sequence-browsing/libs/babel-core/browser.min.js' %}"></script>
    <script src="{% static 'material/sequence-browsing/libs/react/react.js' %}"></script>
    <script src="{% static 'material/sequence-browsing/libs/react/react-dom.js' %}"></script>
    <script src="{% static 'material/sequence-browsing/libs/jquery/jquery.blockUI.js' %}"></script>
    <!-- <script src="{% static 'material/sequence-browsing/variation-sequence_front.js' %}"></script> -->
</head>

<body>

<div class="c-body" style="background-color:#FFF">
    {{ widget_html | safe }}
</div>

<style>
.rightGroup {
    padding-right: 10px !important;
}
.images_secs {
    min-height: 250px !important;
}
</style>
</body>
</html>
