{% load static %}
<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>

    <!-- Vendor CSS -->
    <link href="{% static 'material/vendors/bower_components/animate.css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'material/vendors/bower_components/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet">
    <link href="{% static 'material/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css' %}" rel="stylesheet">
    <link href="{% static 'material/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css' %}" rel="stylesheet">

    <script src="{% static 'material/vendors/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'material/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- Vendor CSS -->
    <link href="{% static 'material/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css' %}" rel="stylesheet">
    <link href="{% static 'material/vendors/bower_components/datatables.net-dt/css/jquery.dataTables.min.css' %}" rel="stylesheet">

    <!-- CSS -->
    <link href="{% static 'material/css/app_1.min.css' %}" rel="stylesheet">
    <link href="{% static 'material/css/app_2.min.css' %}" rel="stylesheet">
    <link href="{% static 'material/css/custom.css' %}" rel="stylesheet">

    <!-- Application -->
    <link href="{% static 'application/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'application/plugins/annotator/annotator.min.css' %}" rel="stylesheet">
    <script src="{% static 'application/js/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'application/plugins/annotator/annotator-full.js' %}"></script>
    <script src="{% static 'application/js/annotator_client_side.js' %}"></script>
</head>

<body>
    <header id="header" class="clearfix" data-ma-theme="blue" style="background-color: #011258">
        <ul class="h-inner">
            <li class="hi-trigger ma-trigger" data-ma-action="sidebar-open" data-ma-target="#sidebar">
                <div class="line-wrap">
                    <div class="line top"></div>
                    <div class="line center"></div>
                    <div class="line bottom"></div>
                </div>
            </li>

            <li class="hi-logo hidden-xs">
                <a href="/">{{ app_title }}</a>
            </li>

            <li class="pull-right">
                <ul class="hi-menu">
                    <li class="dropdown">
                        <a class="btn btn-primary" data-toggle="dropdown">
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu dm-icon pull-right">
                            <div class="list-group">
                                <div class="lg-body">
                                    <a class="list-group-item media" href="{{ user.profile_link }}">Update Profile</a>
                                    <a class="list-group-item media" href="{{ user.logout_link }}">Logout</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </header>

    <section id="main">
        {% block breadcrumb %}
            <ol class="breadcrumb" style="margin-bottom: 25px">
                {% for entry in breadcrumb.entries %}
                    <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
                {% endfor %}
            </ol>
        {% endblock %}

        <aside id="sidebar" class="sidebar c-overflow">
            {% block menu %}
                {% include 'material/page_contexts/menu.html' with menu=menu %}
                {% if submenu %}
                    <hr/>
                    {% include 'material/page_contexts/menu.html' with menu=submenu %}
                {% endif %}
            {% endblock %}
        </aside>

        <section id="content">
            <div class="container">
                {% block main %}
                    {{ widget_html | safe }}
                {% endblock %}
            </div>
        </section>
    </section>


    <!-- Javascript Libraries -->
    <script src="{% static 'material/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'material/vendors/bower_components/Waves/dist/waves.min.js' %}"></script>
    <script src="{% static 'material/vendors/bootstrap-growl/bootstrap-growl.min.js' %}"></script>
    <script src="{% static 'material/vendors/bower_components/sweetalert2/dist/sweetalert2.min.js' %}"></script>
    <script src="{% static 'material/vendors/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <!-- Placeholder for IE9 -->
    <!--[if IE 9 ]>
        <script src="{% static 'material/vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js' %}"></script>
    <![endif]-->

    <script src="{% static 'material/js/app.js' %}"></script>

    <script type="text/javascript">
        {% block footerScript %}
        {% endblock %}
    </script>
</body>
</html>
