/* ICONs */
@font-face {
    font-family: 'icomoon';

    src:    url('fonts/icomoon.eot?4pi3f');
    src:    url('fonts/icomoon.eot?4pi3f#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?4pi3f') format('truetype'),
        url('fonts/icomoon.woff?4pi3f') format('woff'),
        url('fonts/icomoon.svg?4pi3f#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #C3C3C3;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-GenLong:before {
    content: "\e900";
}
.icon-GenMed:before {
    content: "\e901";
}
.icon-GenShort:before {
    content: "\e902";
}
#sequence-browser{
  padding: 50px 0 20px 20px;
  overflow: hidden;
  display: block;
  width: 100%;
}
body{
  font-size: 13px;
}
.inner_con_banner {
    overflow: hidden;
    padding: 0;
}

.sequenceControlBtnGroup {
    height: 23px;
    background: #FFF;
    /*position: absolute;*/
    bottom: 70%;
    right: 6px;
}

.viewlevel {
    float: left;
    font-weight: 800;
    padding: 3px 15px;
}
.genPreBtn {
    padding: 5px;
}
.sequenceMovingControlBtn {
    padding: 12px;
    cursor: pointer;
    float: left;
}
.sequenceMovingControlBtn {
    padding: 12px;
    cursor: pointer;
    float: left;
}
.gene-wrapper-color{
  background: #d9f0ff;
}
/* gene-sequence */
.labelName{
  height: 33px;
  margin-top: -33px;
  font-weight: bold;
  /*position:absolute;*/
  position: relative;
  width: 60px;
  z-index: 9;
  color: #1a3fa9;
}
.topName{
  overflow: hidden;
  font-size: 15px;
  font-weight: 900;
  color: #1a3fa9;
  top: 77px;
}

.exon-bar-bottom {
    margin-top: -10px;
    overflow: hidden;
}
.exon-bar-top {
    margin-top: 42px;
    overflow: hidden;
}
.exon-pointer-top {
    width: 9999999px;
}
.exon-sequence {
    width: 5px;
    float: left;
    /*position: relative;*/
}
.gene-wrapper {
    padding: 42px 0px 55px 0px;
    margin-top: 5px;
}
.exon-pointer {
    transform: scale(1.25);
}
.pointer {
    width: 27px;
    float: left;
    cursor: pointer;
}
.gray {
    color: gray;
}
.light {
    color: #1A3FA9;
}

/* variation */
.sequence {
    width: 9px;
    float: left;
    position: relative;
}
.letter {
    font-weight: 600;
    font-family: "Courier New", Courier, monospace;
    height: 18px;
}
.snp-pointer {
    padding: 8px 9px 9px 0px;
    transform: scale(2.30);
}
.pointer-hightlight {
    color: #1A3FA9 !important;
}
.pointer-hightlight-bonus {
    color: green;
}
.letter-gray {
    margin-top: 1px;
    color: #AEAEAE;
}
.snp-mutation-hightlight {
    color: #FF5041 !important;
}
.snp-mutation-hightlight-bonus {
    color: green !important;
}
.variation-pointer {
    cursor: pointer;
}
.letter-mutation{
    color: red !important;
}
.letter-mutation-bonus{
    color: green;
}

.rightGroup {
    float: right;
}
.viewlevel {
    float: left;
    font-weight: 800;
    padding: 3px 15px;
}
.genPreBtn {
    padding: 5px;
}
.sequenceMovingControlBtn {
    padding: 12px;
    cursor: pointer;
    float: left;
}
.sequenceMovingControlBtn {
    padding: 12px;
    cursor: pointer;
    float: left;
}
.images_secs {
    margin-top: 0;
    position: relative;
    width: 100%;
    display: inline-block;
    padding: 0 10px 0 0;
}
.variation-pointer-top{
   width: 999999px;
}
.variation-bar{
  height: 79px;
  padding-top: 12px;
  overflow: hidden;
}

.variation-bar-bottom{
    margin-top: -33px !important;     /*fix here*/
}
/*.dropdown {
    position: relative !important;
}*/

.dropdown-content {
    display: none !important;
    position: fixed !important;
    background-color: #f9f9f9 !important;
    min-width: 160px !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) !important;
    padding: 12px 16px !important;
    z-index: 1 !important;
}

.dropdown:hover .dropdown-content {
    display: inline !important;
}
.label-dropdown{
  font-weight: normal;
  z-index: 9;
  color: #000;
}
body {
    color:#333 !important;
}

.tooltip.bottom{
  font-family: monospace !important;
}
