{% load static %}
<div id="sequence-browser-gene"></div>
<script src="{% static 'material/sequence-browsing/gene-sequence.js' %}"></script>
<script>
    jQuery(document).ready(function() {
        ReactDOM.render(
           React.createElement(GeneSequence, {data: {{data|safe}} }), document.getElementById('sequence-browser-gene')
        );
    })
</script>