{% load static %}

<div class="card">
    <h2>{{ heading }}</h2>
    <div class="row">
    <!-- <form action="" method="GET"> -->
        <div class="col col-md-10">
            <input id="key-viewer" type='text' class="form-control" />
            <!-- <input id="gene" type='text' class="form-control" /> -->

        </div>
        <div class="col col-md-2">
            <a href="#" id="btn-view" class="btn btn-info"> View </a>
           <!-- <button type="submit" class="btn btn-info">View</button> -->
        </div>
    <!-- <form action="" method="GET"> -->
    <!-- </form> -->
    </div>
</div>
<!-- About -->
<div class="card">
    <h2 id="text-heading"></h2>
    <!-- <div id="sequence-browser-gene">
    </div> -->
    {% include 'sequence/gene-sequence-viewer.html' with data=data %}
</div>
<script>
    jQuery(document).ready(function() {
        jQuery("#btn-view").click(function() {
            var key = jQuery("#key-viewer").val();
            window.location.href = "?gene="+ key;
        });
    });
</script>
