{% load static %}
<!-- About -->
<style>
xmp{
    color: #00BCD4 !important;
    white-space: pre-wrap;
}
</style>
<div class="card" id="about">
    <h2>{{ heading }}</h2>
    <h4> Libs </h4>
    <hr/>
    <p>Libs Main </p>
    <ul>
        <li> Font
            <xmp>
                <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
            </xmp>
        </li>
        <li> babel-core/browser.min.js
            <xmp>
                <script src="{{ url }}material/sequence-browsing/libs/babel-core/browser.min.js"></script>
            </xmp>
        </li>
        <li> Bootstrap : css/js
            <xmp>
                <link href="{{ url }}material/css/bootstrap.min.css" rel="stylesheet">
                <script src="{{ url }}material/js/bootstrap.min.js"></script>
            </xmp>
        </li>
        <li> Jquery
            <xmp>
                <script src="{{ url }}material/js/jquery-2.1.4.min.js"></script>
            </xmp>
        </li>
        <li> ReactJS
            <xmp>
                <script src="{{ url }}material/sequence-browsing/libs/react/react.js"></script>
                <script src="{{ url }}material/sequence-browsing/libs/react/react-dom.js"></script>
            </xmp>
        </li>
        <li> jQuery BlockUI
            <xmp>
                <script src="{{ url }}material/sequence-browsing/libs/jquery/jquery.blockUI.js"></script>
            </xmp>
        </li>
    </ul>
    <p> Script of Sequence </p>
    <ul>
        <li>
            sequence-browsing.js
            <xmp>
                <script src="{{ url }}material/sequence-browsing/sequence-browsing.js"></script>
                <link rel="stylesheet" href="{{ url }}material/sequence-browsing/sequence-style.css">
            </xmp>
        </li>
        <!-- Adding variation sequences -->
        <li>
            variation-sequence.js
            <xmp>
            <script src="{{ url }}material/sequence-browsing/variation-sequence.js"></script>
                <link rel="stylesheet" href="{{ url }}material/sequence-browsing/sequence-style.css">
            </xmp>
        </li>

         <!-- Adding genes sequences -->
        <li>
            gene-sequence.js
            <xmp>
            <script src="{{ url }}material/sequence-browsing/gene-sequence.js"></script>
                <link rel="stylesheet" href="{{ url }}material/sequence-browsing/sequence-style.css">
            </xmp>
        </li>

    </ul>
    <hr/>
    <h4> Usage </h4>
    <hr/>
    <em> Need 'div' with id = "sequence-browser-variationa" for sequence variation and id = "sequence-browser-gene" for sequence gene <em>
    <xmp>
        <div id="sequence-browser-variation">
        </div>
        jQuery(document).ready(function() {
            jQuery("#btn-view").click(function() {
                var key = jQuery("#key-viewer").val();
                window.location.href = "?rsnumber="+ key;
            });
        });
    </xmp>
    <pre>
        var key = jQuery("#key-viewer").val(); -> get value of textbox and load data
        example: key = rs3 -> variation page will be load sequence of rs3
    </pre>
    <hr/>
    <p> Demo </p>
    <ul>
        <li> <a href="/variation/view"> Variation </a> </li>
        <li> <a href="/gene/view"> Gene </a> </li>
    </ul>
</div>
