{% load static %}
<div id="sequence-browser-variation"></div>
<script src="{% static 'material/sequence-browsing/variation-sequence_front.js' %}"></script>
<script>
    jQuery(document).ready(function() {
        ReactDOM.render(
           React.createElement(VariationSequence, {data: {} }), document.getElementById('sequence-browser-variation')
        );
    })
</script>
<style>
.sequenceControlBtnGroup{
    height: 33px !important;
}
.inner_con_banner {
    padding-top:42px !important;
}
.images_secs {
    height: 320px !important;
}
</style>
