{% load static %}
<div id="sequence-browser-variation"></div>
<!--script src="{% static 'material/sequence-browsing/variation-sequence.js' %}"></script-->
<script src="{% static 'material/sequence-browsing/variation-sequence_front.js' %}"></script>
<script>
    jQuery(document).ready(function() {
        ReactDOM.render(
           React.createElement(VariationSequence, {data: {} }), document.getElementById('sequence-browser-variation')
        );
    })
</script>

<style>
body {
}
</style>