{% load static %}

<div class="card" id="about">
    <h2>{{ heading }}</h2>
    <br/>
    <div class="row">
      <form action="" method="GET">
        <div class="col col-md-10">
            <input name="rsnumber" id="key-viewer" type='text' class="form-control" />
        </div>
        <div class="col col-md-2">
            <!-- <a href="#" id="btn-view" class="btn btn-info"> View </a> -->
            <button type="submit" class="btn btn-info">View</button>
        </div>
      </form>
    </div>
</div>

<!-- About -->
<div class="card" id="about">
    <h2 id="text-heading"></h2>
    {% include 'sequence/variation-sequence-viewer.html' with data=data %}
</div>


<script>
    jQuery(document).ready(function() {
        jQuery("#btn-view").click(function() {
            var key = jQuery("#key-viewer").val();
            window.location.href = "?rsnumber="+ key;
        });
    })
</script>
